{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registartion </title>

</head>
<body bgcolor="#00ffff">
    <div class="col-6">
        <img src={% static "images\krishna.jpg" %} alt="krishna" style="width:500px;height:600px;">
    </div>
    
     <div class="col-6">
    <table border=3px solid red>
    
<tr><td><a href="./productinput">click for prduct detail</a></td><br></tr>
<tr><td><a href="./display">click for display product</a></td></tr>
<tr><td><a href="./delete">click for delete product</a></td></tr>
<tr><td><a href="./updateinput">click for update product</a></td></tr>
</table></div>

</body>
</html>