<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  

</head>
<body bgcolor="#00ffff"><center><table border=3px solid red>
    <form action='./insert'>
    
<h1> welcome to prduct input page</h1>

<label for="t1">  Enter the product ID    :</label>
  <input type="text"  name="t1"  ><br><br>
<label for="t2">Enter the Product Name  :</label>
  <input type="text"  name="t2"><br><br>
<label for="t3">Enter the Product Cost  :</label>
  <input type="text"  name="t3"><br><br>
  <label for="t4">Enter the Product Mfdt  :</label>
  <input type="date" name="t4"><br><br>
  <label for="t5">Enter the Product Expdt :</label>
  <input type="date"  name="t5"><br><br>
  <input type="submit" value='submit'><br><br>

  
<a href="./display">click for display product</a></table>
</center></form>
</body>
</html>